@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

// VARIABLEs
$primary: #007ccb;
$bluelight: #19a6fd;


html, body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    min-height: 200vh;
}
section{
    padding: 0;
    margin: 0;
}
strong{
    color: $bluelight;
}
*{
    box-sizing: border-box;
}
.site{
    overflow-x: hidden;

}
header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
    color: white;
    img{
        width: 75px;
        padding: 5px;
        box-shadow: 0 0 5px white;
        background-color: rgba(255, 255, 255, 0);
    }
    nav{
        ul{
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                margin: 0 1em;
                a{
                    text-decoration: none;
                    color: lightgray;
                    padding: 8px;
                    text-transform: uppercase;
                    &.active{
                        color: #19a6fd;
                        border-bottom: 3px solid ;
                    }
                    &:hover{
                        border-bottom: 3px solid #19a6fd;
                    }
                }
            }
        }
    }
}
.container-wrapper{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    top: 0;
    position: relative;
}
.carousel-wrapper{
    width: 100%;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}
.carousel__content{
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 20, 78, 0.527);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slider-wrapper{
    width: 500%;
    display: flex;
    flex-shrink: 0;
    transition: all .5s;
    //animation-name: carouselSliding;
    //animation-duration: .5s;
    //animation-fill-mode: both;
    //animation-iteration-count: infinite;
    //animation-delay: 2s;
}
.slide{
    position: relative;
    width: 20%;
    flex-basis: 20%;
    img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: -1;
    }
    .content{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(90, 90, 90, 0.425);
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            font-size: 4em;
            padding: 0;
            margin: 0;
            text-transform: uppercase;
            text-shadow: 0 0 15px rgb(29, 29, 29);
        }
        p{
            font-size: 1.5em;
            color:rgb(230, 230, 230);
            padding: 0;
            margin: 0;
        }

    }
}
.controls{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4em;
    z-index: 10;
    .left, .right{
        border-left: 5px solid white;
        border-bottom: 5px solid white;
        transform: rotate(45deg);
        opacity: .3;
        background-color: transparent;
        width: 20px;
        height: 20px;
        cursor: pointer;
        &:hover{
            opacity: 1;
            transform: rotate(45deg) scale(1.1);
        }
    }
    .right{
        transform: rotate(-135deg) ;
        &:hover{
            transform: rotate(-135deg) scale(1.1);
        }
    }
}
.nav-menu{
    position: absolute;
    height: 35px;
    width: 35px;
    right: 2em;
    top: 2em;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    padding: 3px;
    display: none;
    &.croix{
        padding: 0;
        padding-left: 2px;
        justify-content: center;
        align-items: center;
        span:nth-child(2n){
            display: none;
        }
        span:first-child{
            transform-origin: center center;
            transform: rotate(45deg) translateY(2px);
            padding: 0;
            margin: 0;
        }
        span:nth-of-type(3){
            transform-origin: center center;
            transform: rotate(-45deg) translateY(-2px);
            padding: 0;
            margin: 0;
        }
    }
    span{
        display: block;
        width: 100%;
        height: 3px;
        background-color: rgb(212, 212, 212);
        transition: all .4s ;
    }
}
.scroll-down{
    position: absolute;
    width: 25px;
    height: 50px;
    border: 2px solid wheat;
    border-radius: 8px;
    bottom: 6em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    .ball{
        width: 10px;
        height: 15px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 5px;
        //animation: scrollDawn 1s infinite;
    }
}
button{
    position: relative;
    padding: 1em 1.5em;
    border: 1px solid #287428;
    border-radius: 3px;
    background-color: #287428;
    color: white;
    margin-top: 1em;
    transition: all .3s;
    cursor: pointer;
    z-index: 100;
    &:hover{
        border-width: 2px;
        background-color: transparent;
        color: #287428;
    }
}
.carousel__content{
    h1, h2{
        font-size: 3em;
        text-align: center;
        padding: 0 3em;
        text-shadow: 0 0 15px rgb(1, 6, 71);
        text-transform: uppercase;
        width: 50%;
    }
    h2{
       font-size: 1.3em; 
       padding: 0 5em;
       color: rgb(231, 225, 225);
    }
}
// section{
//     min-height: 100vh;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

.section__title{
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: 900;
    text-transform: uppercase;
    color:$bluelight;
    padding: 3em 0 0em;
    margin-bottom: 1em;
}
.section__desc{
    color: rgb(121, 121, 121);
    padding: 0 3em;
    margin-top: 0;
    width: 90%;
    max-width: 1200px;
    text-align: center;
    font-size: 1.2em;
    line-height: 2em;
    margin-bottom: 3em;
}
.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15em;
}
// CARDS SERVICE
.section__content{ 
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    .service__card{
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: .5em;
        height: 25em;
        width: 24%;
        &::after{
            content: "";
            width: 100%;
            height: 80%;
            left: 0;
            bottom: 0;
            position: absolute;
            border: 1px solid lightgray;
            border-radius: 5px;
            z-index: -1;
            transition: all .3s ;
        }
        &:hover {
            &::after{
                border-color: $primary;
                box-shadow: 0 0 10px $primary;
            }
            .card__image{
                transform: scale(1.1);
                img{
                    filter: grayscale(0);
                    animation: bounce 1s ease-in-out both;
                }
            }
            .card__title{
                transform: scale(1.2);
            }

        }
        .card__image{
            text-align: center;
            transition: all .3s;
            background-color: #fff;
            img{
                height: 120px;
                filter: grayscale(1);

            }
        }
        .card__title{
            color: $primary;
            font-weight: 900;
            font-size: 1.2em;
            text-transform: uppercase;
            transition: all .3s;
        }
        .card__body{
            p{
                text-align: center;
                padding: 0 1em;
            }
        }
    }
}

.call-to-action{
    position: relative;
    background-color: #004055;
    padding: 0;
    height: 25em;
    margin: 0;
    .section__content{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        p{
            color: white;
            width: 50%;
            padding: 3em;
            font-size: 1.2em;
            text-align: center;
            line-height: 2em;
        }
        button{
            background-color: transparent;
            border-color: white;
            border-radius: 3em;
            border-width: 2px;
            font-size: 1.3em;
        }
    }
    &::before{
        content: "";
        position: absolute;
        width: 200%;
        height: 100px;
        top: 0;
        left: 0;
        transform-origin: top left;
        transform: rotate(-1.5deg);
        background-color: #004055;
        z-index: -1;
    }
    &::after{
        content: "";
        position: absolute;
        width: 200%;
        height: 100px;
        bottom: 0;
        right: 0;
        transform-origin: bottom right;
        transform: rotate(-1.5deg);
        background-color: #004055;
        z-index: -1;
    }
}
.realisation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15em;
}
.projets{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}
.projet{
    height: 20em;
    width: 25em;
    max-width: 95%;
    flex-shrink: 0;
    border: 1px solid gray;
    margin: 0;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .projet__content{
        position: absolute;
        top: -100%;
        transition: all 1s ; 
        background-color: rgba(2, 25, 32, 0.733);
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        padding: 2em;
        cursor: pointer;        
        .projet__title{
            font-size: 2em;
        }
        a{
            text-decoration: none;
            color: white;
        }
    }
    &:hover{
        .projet__content{
            top: 0;
        }
    }
    
}

.nav-mobile{display: none;}
@media screen and (max-width: 990px){
    header{
        justify-content: flex-start;
        padding-left: 2em;
        position: fixed;
        nav{display: none;}
        .nav-mobile{
            position: absolute;
            width: 100%;
            height: 100vh;
            top: 0;
            left: 100%;
            background-color: #1d1d1df7;
            justify-content: center;
            align-items: center;
            transition: all .5s ;
            overflow: hidden;
            display: flex;
            ul{
                padding: 0;
                margin: 0;
                flex-direction: column;
                height: 100%;
                width: 100%;
                li{
                    margin: 1em 0;
                    text-align: left;
                    a{
                        font-size: 1.2em;
                        position: relative;
                    }
                }
            }
        }
    }
    .nav-menu{
        display: flex;
    }
    .slide{
        .content h2{
            font-size: 2em;
        }
    }
    .controls{
        display: none;
    }
    .carousel__content{
        h1, h2{
            width: 100%;
            font-size: 1.5em;
            text-align: center;
            padding: 0 3em;
            text-shadow: 0 0 15px rgb(1, 6, 71);
        }
        h2{
           font-size: 1em; 
           padding: 2em;
           color: rgb(231, 225, 225);
        }
    }
    .section__content{
        flex-wrap: wrap;
        .service__card{
            width: 20em;
        }
    }
    .section__content .service__card{
        width: 25em;
        max-width: 95%;
    }
    .call-to-action .section__content{
        p{
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }
}



//ANIMATIONS 
@keyframes bounce {
    30%{transform: translateY(-20px);}
    60%{transform: translateY(0px);}
    80%{transform: translateY(-5px);}
    100%{transform: translateY(0px);}
}