@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
html, body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  min-height: 200vh;
}

section {
  padding: 0;
  margin: 0;
}

strong {
  color: #19a6fd;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.site {
  overflow-x: hidden;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
  color: white;
}

header img {
  width: 75px;
  padding: 5px;
  -webkit-box-shadow: 0 0 5px white;
          box-shadow: 0 0 5px white;
  background-color: rgba(255, 255, 255, 0);
}

header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  margin: 0 1em;
}

header nav ul li a {
  text-decoration: none;
  color: lightgray;
  padding: 8px;
  text-transform: uppercase;
}

header nav ul li a.active {
  color: #19a6fd;
  border-bottom: 3px solid;
}

header nav ul li a:hover {
  border-bottom: 3px solid #19a6fd;
}

.container-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  position: relative;
}

.carousel-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  overflow: hidden;
}

.carousel__content {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 20, 78, 0.527);
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-wrapper {
  width: 500%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.slide {
  position: relative;
  width: 20%;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.slide img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
}

.slide .content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(90, 90, 90, 0.425);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide .content h2 {
  font-size: 4em;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-shadow: 0 0 15px #1d1d1d;
}

.slide .content p {
  font-size: 1.5em;
  color: #e6e6e6;
  padding: 0;
  margin: 0;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4em;
  z-index: 10;
}

.controls .left, .controls .right {
  border-left: 5px solid white;
  border-bottom: 5px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: .3;
  background-color: transparent;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.controls .left:hover, .controls .right:hover {
  opacity: 1;
  -webkit-transform: rotate(45deg) scale(1.1);
          transform: rotate(45deg) scale(1.1);
}

.controls .right {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.controls .right:hover {
  -webkit-transform: rotate(-135deg) scale(1.1);
          transform: rotate(-135deg) scale(1.1);
}

.nav-menu {
  position: absolute;
  height: 35px;
  width: 35px;
  right: 2em;
  top: 2em;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  padding: 3px;
  display: none;
}

.nav-menu.croix {
  padding: 0;
  padding-left: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu.croix span:nth-child(2n) {
  display: none;
}

.nav-menu.croix span:first-child {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(45deg) translateY(2px);
          transform: rotate(45deg) translateY(2px);
  padding: 0;
  margin: 0;
}

.nav-menu.croix span:nth-of-type(3) {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(-45deg) translateY(-2px);
          transform: rotate(-45deg) translateY(-2px);
  padding: 0;
  margin: 0;
}

.nav-menu span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #d4d4d4;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.scroll-down {
  position: absolute;
  width: 25px;
  height: 50px;
  border: 2px solid wheat;
  border-radius: 8px;
  bottom: 6em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
}

.scroll-down .ball {
  width: 10px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 5px;
}

button {
  position: relative;
  padding: 1em 1.5em;
  border: 1px solid #287428;
  border-radius: 3px;
  background-color: #287428;
  color: white;
  margin-top: 1em;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  z-index: 100;
}

button:hover {
  border-width: 2px;
  background-color: transparent;
  color: #287428;
}

.carousel__content h1, .carousel__content h2 {
  font-size: 3em;
  text-align: center;
  padding: 0 3em;
  text-shadow: 0 0 15px #010647;
  text-transform: uppercase;
  width: 50%;
}

.carousel__content h2 {
  font-size: 1.3em;
  padding: 0 5em;
  color: #e7e1e1;
}

.section__title {
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
  color: #19a6fd;
  padding: 3em 0 0em;
  margin-bottom: 1em;
}

.section__desc {
  color: #797979;
  padding: 0 3em;
  margin-top: 0;
  width: 90%;
  max-width: 1200px;
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  margin-bottom: 3em;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15em;
}

.section__content {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
  margin: 0;
}

.section__content .service__card {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: .5em;
  height: 25em;
  width: 24%;
}

.section__content .service__card::after {
  content: "";
  width: 100%;
  height: 80%;
  left: 0;
  bottom: 0;
  position: absolute;
  border: 1px solid lightgray;
  border-radius: 5px;
  z-index: -1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.section__content .service__card:hover::after {
  border-color: #007ccb;
  -webkit-box-shadow: 0 0 10px #007ccb;
          box-shadow: 0 0 10px #007ccb;
}

.section__content .service__card:hover .card__image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section__content .service__card:hover .card__image img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-animation: bounce 1s ease-in-out both;
          animation: bounce 1s ease-in-out both;
}

.section__content .service__card:hover .card__title {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.section__content .service__card .card__image {
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: #fff;
}

.section__content .service__card .card__image img {
  height: 120px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.section__content .service__card .card__title {
  color: #007ccb;
  font-weight: 900;
  font-size: 1.2em;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.section__content .service__card .card__body p {
  text-align: center;
  padding: 0 1em;
}

.call-to-action {
  position: relative;
  background-color: #004055;
  padding: 0;
  height: 25em;
  margin: 0;
}

.call-to-action .section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
}

.call-to-action .section__content p {
  color: white;
  width: 50%;
  padding: 3em;
  font-size: 1.2em;
  text-align: center;
  line-height: 2em;
}

.call-to-action .section__content button {
  background-color: transparent;
  border-color: white;
  border-radius: 3em;
  border-width: 2px;
  font-size: 1.3em;
}

.call-to-action::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 100px;
  top: 0;
  left: 0;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-1.5deg);
          transform: rotate(-1.5deg);
  background-color: #004055;
  z-index: -1;
}

.call-to-action::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 100px;
  bottom: 0;
  right: 0;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(-1.5deg);
          transform: rotate(-1.5deg);
  background-color: #004055;
  z-index: -1;
}

.realisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15em;
}

.projets {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projet {
  height: 20em;
  width: 25em;
  max-width: 95%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid gray;
  margin: 0;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.projet img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.projet .projet__content {
  position: absolute;
  top: -100%;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: rgba(2, 25, 32, 0.733);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
  padding: 2em;
  cursor: pointer;
}

.projet .projet__content .projet__title {
  font-size: 2em;
}

.projet .projet__content a {
  text-decoration: none;
  color: white;
}

.projet:hover .projet__content {
  top: 0;
}

.nav-mobile {
  display: none;
}

@media screen and (max-width: 990px) {
  header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 2em;
    position: fixed;
  }
  header nav {
    display: none;
  }
  header .nav-mobile {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 100%;
    background-color: #1d1d1df7;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .nav-mobile ul {
    padding: 0;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
  }
  header .nav-mobile ul li {
    margin: 1em 0;
    text-align: left;
  }
  header .nav-mobile ul li a {
    font-size: 1.2em;
    position: relative;
  }
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .slide .content h2 {
    font-size: 2em;
  }
  .controls {
    display: none;
  }
  .carousel__content h1, .carousel__content h2 {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    padding: 0 3em;
    text-shadow: 0 0 15px #010647;
  }
  .carousel__content h2 {
    font-size: 1em;
    padding: 2em;
    color: #e7e1e1;
  }
  .section__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section__content .service__card {
    width: 20em;
  }
  .section__content .service__card {
    width: 25em;
    max-width: 95%;
  }
  .call-to-action .section__content p {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

@-webkit-keyframes bounce {
  30% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  80% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes bounce {
  30% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  80% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=style.css.map */